@import url('https://fonts.googleapis.com/css?family=Pixelify+Sans&display=swap');

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(0.9);
        opacity: 0.9;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
}

img {
    max-width: 100%;
    height: auto;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    max-width: 490px;
    height: 700px;
    margin: 0;
    padding: 0;
}


.quiz-container {
    background-image: url("img/game_title.png");
    background-size:100% auto;
    background-repeat: no-repeat;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: solid 1px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* 添加相对定位 */
    transition: background-image 1s; /* 添加過度效果 */
}

.top{
    width: 80%;
    height: 19%;
    margin: 80px 0px 15px 0px;
}
#question{
    background-color: transparent;
    font-family: 'Pixelify Sans', Arial, sans-serif;
    font-size: x-large ;
    font-weight: bold;
    color: #2E1B5B;
    padding: 0px 0px 0px 0px;

    white-space: pre-line;

}

.options {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}/*管理所有按鈕設定*/



.option {
    font-size:large ;
    font-weight: bold;
    width: 100%;
    height: 40% ;
    margin: 14px;
    padding: 10px 15px 10px 15px;
    background-color: #ffe550;
    color: #2E1B5B;
    border-color: rgb(0, 0, 0);
    border-style: solid ;
    border-radius: 50px;
    cursor: pointer;
    z-index: 2;
}/*管理單個個別按鈕設定*/

.option.disabled  {
    cursor: default;
    pointer-events: none;
    opacity: 1;
    display: none;
}


#result {
    background-color: transparent;
    
    padding: 5px 5px 5px 5px;
    margin: 5px;

    font-weight: bold;
    color: rgb(43, 0, 184);
    text-shadow: -1px -1px 0 #efe4d1,
    1px -1px 0 #efe4d1,
    -1px 1px 0 #efe4d1,
    1px 1px 0 #efe4d1;
    
    margin-top: 10px;
    position: absolute;
    top: 93%; /* 定位到容器的垂直下方 */
    left: 65%; /* 定位到容器的水平中間偏右 */
    display: none;
}

#start{
    font-size: 60px ;
    width: 85%;
    height: 15% ;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    position: absolute;
    background-color: transparent;
    color: #2E1B5B;
    text-shadow: 2px 2px 4px rgb(177, 204, 230);
    font-family: 'Pixelify Sans', Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    top: 30%;
    z-index: 5;
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count:infinite
}
#start_2{
    font-size: 30px ;

    margin: 1px;
    padding: 10px 20px;

    background-color: transparent;
    color: #2E1B5B;
    text-shadow: 2px 2px 4px rgb(177, 204, 230);
    font-family: 'Pixelify Sans', Arial, sans-serif;
    font-weight: bold;
    position: absolute;
    top: 45%;

}

#thank {
    font-size: 60px ;
    width: 85%;
    height: 25% ;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    border: none;
    position: absolute;
    background-color: transparent;
    color: #2E1B5B;
    text-shadow: 2px 2px 4px rgb(177, 204, 230);
    font-family: 'Pixelify Sans', Arial, sans-serif;
    font-weight: bold;
    top: 10%;
    display: none;
}

#ending {
    width: 72%;
    height: 30% ;

    padding: 5px 15px 5px 15px;
    margin: 5px;

    font-size: large ;
    font-weight: bold;
    color: #2E1B5B;
    text-shadow: 2px 2px 4px rgb(177, 204, 230);

    margin-top: 10px;
    position: absolute;
    top: 35%; /* 定位到容器的中間偏上 */
    left: 10%; /* 定位到容器的水平中間偏左 */
    z-index: 1;
    white-space: pre-line;
    display: none;
}


@media (max-width: 401px) {
    .quiz-container {
        height: 78vh; 
    }
    #question {
        font-size:large ;
        width: 81.63%;
        height: 32.65% ;/* 適應小螢幕的題目樣式 */
    }
    .option {
        font-size: medium ;
        padding: 7px 11px 7px 11px;
        margin: 9px;
    }
    #start{
        font-size:49px ;  
    }
    #start_2{
        font-size:24px ;  
    }
    .top{
        margin: 60px 0px 15px 0px;
    }
    #ending{
        /*padding: 5px 15px 5px 15px;
        margin: 5px;*/
    
        font-size: medium ; 
    }
    #thank{
        font-size: 49px ;
    }
    #result{
        font-size: 10px ;
        left: 65%;
    }
    /* 這些樣式只會在螢幕寬度小於401px時應用 */
}

@media (max-width: 360px) {
    .quiz-container {
        height: 70vh; 
    }
    #question {
        font-size:large ;
        width: 73.47%;
        height: 29.39% ;/* 適應小螢幕的題目樣式 */
    }
    .option {
        font-size: smaller ;
        padding: 7px 11px 7px 11px;
        margin: 8px;
    }
    #start{
        font-size:44px ;  
    }
    #start_2{
        font-size:22px ;  
    }
    .top{
        margin: 45px 0px 20px 0px;
    }
    #ending{
        /*padding: 5px 15px 5px 15px;
        margin: 5px;*/
    
        font-size: medium ; 
    }
    #thank{
        font-size: 44px ;
    }
    #result{
        font-size: 8px ;
        left: 60%;
    }
    /* 這些樣式只會在螢幕寬度小於360px時應用 */
}

@media (max-width: 321px) {
    .quiz-container {
        height: 61vh; 
    }
    #question {
        font-size:95% ;
        width: 73.47%;
        height: 29.39% ;/* 適應小螢幕的題目樣式 */
    }
    .option {
        font-size: 85% ;
        padding: 7px 11px 7px 11px;
        margin: 5px;
    }
    #start{
        font-size:40px ;  
    }
    #start_2{
        font-size:20px ;  
    }
    .top{
        margin: 45px 0px 13px 0px;
    }
    #ending{
        padding: 1px 15px 5px 15px;
        margin: 0px;
    
        font-size: smaller ; 
    }
    #thank{
        font-size: 40px ;
    }
    #result{
        font-size: 8px ;
        left: 55%;
    }
    /* 這些樣式只會在螢幕寬度小於321px時應用 */
}